
<%if user_signed_in? && current_user.role == "admin"%>
	<ul class="nav">	
    <li class="nav-item">			
			<a class="nav-link active" href="<%=new_actividad_path%>">
				<i class="fas fa-plus"></i> Crear nueva actividad
			</a>
		</li>		
	</ul>
<%end%>