
<%if user_signed_in? && current_user.role == "admin"%>
	<ul class="nav">	
		<li class="nav-item">			
			<a class="nav-link active" href="<%=new_noticia_path%>">
				<i class="fas fa-plus"></i> Crear nueva noticia
			</a>
		</li>
		<li class="nav-item">			
			<a class="nav-link active" href="<%=adminnoticias_path%>">
				<i class="fas fa-plus"></i> Ver todas las noticias
			</a>
		</li>		
	</ul>
<%end%>